
.modal{
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%,0px);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition-behavior: normal;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-property: all;
}
.modalActive{
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, 70px);
}
.modal img{
  max-height: calc(100vh - 100px);
  max-width: calc(100vw - 100px);
  border: 3px inset black;
}
.closeBtn{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;

  &:hover{
    scale: 1.1;
  }
  &:active{
    scale:0.8
  }
}

.overlay
{
  left: 0;
  top: 60px;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9;
  pointer-events: none;
  transition-behavior: normal;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-property: all;

}
.overlayActive{
  background-color: rgba(0, 0, 0, 0.25);
  pointer-events: all;

}